@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

h1 {
    margin-top: 1em;
    margin-bottom: 1em;
}

body {
    background-color: #cdc;
    width: 800px;
}

#projects {
    padding-top: 5em;
}

#visidata { z-index: 5; }
#darkdraw { z-index: 4; }
#xdplayer { z-index: 3; }
#acquire { z-index: 2; }

.project {
    margin: 5px;
    margin-bottom: -200px;
    width:250px;
    height:264px;
    background-image: url("/floppy35.jpg");
    background-size: 250px;
    float: left;
    position: relative;
}

.project .label {
    position: absolute;
    top: 110px;
    left: 30px;
    width: 180px;
    height: 135px;
/*    border: 5px black solid;
    border-radius: 16px; */
    font-family: 'Permanent Marker', cursive;
    text-align: center;
}

.project h3 {
    margin-top: .5em;
    font-size: 150%;
}
.project h3, .front {
    margin-bottom: 0;
    font-size: 30px;
}

.front {
    margin-top: 0;
    line-height: .7;
}

.label .front img {
    margin-top: 1.5em;
    margin-bottom: .5em;
    width: 90%;
}

.back {
    display: none;
    width: 180px;
    height: 135px;
    border-radius: 8px;
    margin: auto;
}

a .label {
    color: #333333;
}

.computer {
    position: relative;
    float: left;
}

.computer img {
    height: 600px;
}

.computer .screen img {
    width: 315px;
    height: 240px;
    background-color: #333;
}

.computer .screen {
    position: absolute;
    top: 62px;
    left: 115px;
    width: 315px;
    height: 240px;
/*    border: 3px black solid;
    border-radius: 4px; */
    font-family: 'Permanent Marker', cursive;
    text-align: center;
}

section {
    clear: both;
}
